# --- Symfony ---
/var/
/vendor/

# --- Environment files ---
/.env.local
/.env.local.php
/.env.*.local

# --- IDE / éditeur ---
/.idea/
/.vscode/

# --- Node / Front ---
/node_modules/
/public/build/

# --- PHPUnit ---
/phpunit.xml
/.phpunit.cache/

# --- OS Files ---
.DS_Store
Thumbs.db

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###
